<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/test/test.css">

    <title>Main</title>
</head>
<body ng-controller="MainController">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="{{TypeTests}}">
        <svg class="bi me-2" height="32" width="40">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">WorkTracker</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a aria-current="page" class="nav-link active" href="{{TypeMain}}">Главная</a></li>
        <li class="nav-item"><a class="nav-link" href="profile.html">Профиль</a></li>
        <li class="nav-item"><a href="graphics.html" class="nav-link" id="WorkResults">Результаты</a></li>
        <li class="nav-item"><a href="Articles.html" class="nav-link">Статьи</a></li>
        <li class="nav-item"><a aria-current="page" class="nav-link" href="{{TypeTests}}">Тесты</a></li>
        <link href="css/TestCreate/Styles.css" rel="stylesheet">
    </ul>
</header>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-1 mb-3">
            </div>
            <div class="col-md-10">
                <div class="row gutters-sm">
                    <div class="col-sm-13 mb-3">
                        <div class="card h-40">
                            <div class="card-body" style="box-shadow: #0f0f0f">
                                <h3 class="d-flex align-items-center mb-3" id="infoButton">Главная страница</h3>
                            </div>
                        </div>
                        <br>
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="button-container">
                                    <button class="btn btn-primary" ng-mouseenter="showButtons = true" ng-mouseleave="showButtons = false" style="margin-bottom: 0px;">Оформить заявление</button>
                                    <div class="button-dropdown" ng-show="showButtons">
                                      <button class="btn btn-secondary" ng-mouseenter="showButtons = true" ng-mouseleave="showButtons = false" ng-click="makeVacation()">Отпуск</button>
                                      <button class="btn btn-secondary" ng-mouseenter="showButtons = true" ng-mouseleave="showButtons = false" ng-click="makeMedical()">Больничный</button>
                                      <button class="btn btn-secondary" ng-mouseenter="showButtons = true" ng-mouseleave="showButtons = false" ng-click="FreeForm()">Свободная форма</button>
                                    </div>
                                  </div>
                                <h5 class="card-title">Календарь</h5>
                                <div class="calendar">
                                    <input type="date" name="date" value="{{ToDayDate}}" ng-model="ToDayDate" ng-change="checkTime()"> <!-- Поле ввода для выбора даты -->
                                </div>
                                <h5 class="card-title mt-4">Время работы</h5>
                                <div class="form-group">
                                    <button id="start" class="btn btn-primary" ng-click="addTime()">Начало работы</button>
                                    <input type="text" id="start_time" value="{{StartTime}}" ng-model="StartTime" readonly>
                                </div>
<!--                                <br>-->
                                <div class="form-group">
                                    <button id="end" class="btn btn-primary" ng-click="updateTime()" >Окончание работы</button>
                                    <input type="text" id="end_time" value="{{EndTime}}" ng-model="EndTime" readonly>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group col-md-10">
                                <div class="card-body" style="box-shadow: #0f0f0f">
                                    <h3 class="d-flex align-items-center mb-3" >Задания на сегодня</h3>
                                </div>
                                <div class="d-flex" ng-repeat="task in myTasks">
                                    <div class="group">
                                        <input type="checkbox" class="custom-radio" id="{{task.id}}" ng-model="task.checked" ng-click="DoTask(task)" ng-disabled="task.disabled">
                                        <label for="{{task.id}}" style="color: #0f0f0f; font-size: 30px">{{task.task}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>